/* Fonts */
.font_knewave {
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* Shared styles */

.desktop {
    display: block;
}
.mobile {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;

    background-color: #F1EFC8;
    color: #181F1C;
}

nav {
    padding: 24px 20px;

    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 1.5em;
    text-align: center;

    background-color: #6A041D;
    color: #F1EFC8;
}

nav li {
    margin: 0 12px;
    list-style-type: none;
	display: inline;
}

a.headerNav:link {
    color:#adab90;
}
a.headerNav:visited {
    color:#ed9e8e;
}
a.headerNav:hover, a.headerNav:active {
    color:#F1EFC8;
}

a:link {
    color:#181F1C;
}
a:visited {
    color:#b18525;
}
a:hover, a:active {
    color:#e6cc24;
}

header {
    margin: 18px 5%;
}

.title {
    text-align: center;
}

footer {
    height: 48px;
}

/* Sightseeing Page */

article {
    margin: 18px 32px;

    font-size: 1.2em;
}

article > ol {
    display: flex;
    flex-direction: column;
}

.sightSee {
    display: flex;
    justify-content: space-between;
    margin: 18px 48px;
}

.sightSee > div {
    width: 45%;
}

.sightSee > div > img {
    width: 100%;
    height: auto;
    border: 8px solid #c8c69d;
}

.sightSee2 {
    display: flex;
    justify-content: space-evenly;
    margin: 18px 48px;
}

.sightSee2 > img {
    width: 40%;
    height: auto;
    border: 8px solid #c8c69d;
}

.flexReverse {
    flex-direction: row-reverse;
}

/* Mobile Changes */
@media only screen and (max-width: 470px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }

    article {
        font-size: 1em;
    }

    .sightSee, .sightSee2 {
        flex-direction: column;
        margin: 8px 0;
    }

    .sightSee > div, .sightSee2 > img {
        width: 100%;
    }

    .sightSee > div > img, .sightSee2 > img {
        border: 4px solid #c8c69d;
    }
}