@charset "UTF-8";

body {
    background-color: #462f4b;
    color:#f5cbff;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-family: "dederon-sans-web", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.75em;
    margin: 0 5%;
}

h1, h2, h3, h4 {
    text-align: center;
}


/* Always style links in the order: link, visited, hover, active */
a:link {
    color:#dbd3ff;
    text-decoration: none;
}
a:visited {
    color:#936d73;
}
a:hover {
    color:#9db5ff;
}
a:active {
    color:#fcfbff;
    text-decoration: underline;
}

.classSection {
    color:#95d3e8;
    text-decoration: underline;
}

.weekly {
    width: 45%;
    float: left;
    margin: 0 5%;
}

#project {
    width: 45%;
    float: left;
}